<footer class="piepagina">
    <div class="grupo1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/imagenes/logo.png" alt="">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>INFORMACION</h2>
            <p>Direccion: cll 661 sur-97b-97</p>
            <p>Tel: 3193042283</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy;2023 <b>BOSH</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
