
.row{
    width: 100%;
    
}
#imagen{
    background-image: url(^assets/imagenes/tarjetas.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    border-radius: 15px;
}
.btn-neon{
    position: relative;
    display:inline-block ;
    padding: 15px 30px;
    color: #4CBFFF(27, 24, 24);
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 15px;
    
}
.btn-neon:hover{
    background:#4CBFFF;
    color: white;
    box-shadow: 0 0 10px #4CBFFF,0 0 40px #4CBFFF,0 0 80px #4CBFFF;
    transition-delay: 1s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#4CBFFF);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#4CBFFF);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#4CBFFF);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#4CBFFF);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}
p{
    display: flex;
    padding-left: 135px;
    margin-top: 25px;
    font-size: x-large;
}
#pedir{
    margin-top: 50px;
    margin-left: 25%;
    cursor: pointer;
}











#texto2{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background: gainsboro;
    font-family:'League Spartan', sans-serif ;
}
#grey{
    color: grey;
    margin-top: 50px;
}





#texto3{
    height: 300px;
    padding-top: 100px;
    padding-left: 150px;
    background-color: white;
    font-size: xx-large;
    font-family:'League Spartan', sans-serif ;

}








#caja{
    height: 800px;
    display: flex;
    background-image: url(^assets/imagenes/amigos.png);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    border-radius: 20px;
    
}
#texto4{
    color: black;
    height: 800px;
    justify-content: center;
    flex-direction:column;
   
    padding: 35px;
}
.txt{
    color:#4CBFFF ;
    margin-top: 60px;
    margin-left: 132px;
}








.slide-text{
    background-color: aquamarine;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.mensajes{
    overflow:hidden ;
}
.movimiento, l.nombres{
    list-style: none;
    color: white
}
.movimiento{
    width: 1200px;
    height: 70px;
    position: relative;
    animation: slide 5s cubic-bezier(0.68,-0.55,0.27,1.55)infinite;
    margin-left: 200px
}
.nombres{
    position: absolute;
    height: 70px;
    top: 200%;
    line-height: 70px;
    font-size: 45px;
    font-family:'League Spartan', sans-serif ;

}
.nombres:first-child{
    top: 100%;
}
.nombres:last-child{
    top: 300%;
}
@keyframes slide{
    0%{
        transform: translateY(0);
    }
    15%,30%{
        transform: translateY(-100%);
    }
    45%,60%{
        transform: translateY(-200%);
    }
    75%,90%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(-400%);
    }
}







#texto5{
    background-color: #4CBFFF;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#porque{
    margin-left: 75px;
    margin-top: 40px;
}




