<app-header></app-header>
<div class="container">
    <div id="contenedor" class="row">
      <div id="texto" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>Vive más con la tarjeta de crédito Bosh.</h1>
        <p>$0 cuota de manejo sin condiciones</p>
        <a href="" class="btn-neon">
          <span id="span1"></span>
          <span id="span2"></span>
          <span id="span3"></span>
          <span id="span4"></span>
          PEDIR MI TARJETA
        </a>
      </div>
      <div id="imagen" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="assets/imagenes/tarjetas.png" alt="">
      </div>
  </div>
</div>

  <div class="row" id="cuadro">
    <div id="texto2">
      <h3 id="black">
        Bosh, es el banco digital más grande de Latinoamérica
      </h3>
      <h3 id="grey">
        85 millones de clientes ya decidieron hacer más filas para conciertos y menos en sucursales de banco.
      </h3>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div id="texto3">
      <h1>
        Una tarjeta Mastercard® para
        vivir con completa libertad
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="caja" class="cuadro col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="assets/imagenes/amigos.png">
    </div>
    <div id="texto4" class="cuadro col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1 class="txt">Vive más
        Sin esperas</h1>
      <p>Atendemos personalmente nuestros canales de servicio. Tú mereces una atención humana en todo momento.</p>
      <h1 class="txt">Sin sucursales</h1>
      <p>Nuestras oficinas están en tu celular 24/7, con una app simple e intuitiva para decirle “hasta nunca” al papeleo.</p>
      <h1 class="txt">Sin letra pequeña</h1>
      <p>Somos transparentes y siempre cumplimos lo que prometemos. No vas a pagar cuota de manejo, sin condiciones y sin asteriscos.</p>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="slide-text">
    <h2>Clientes:</h2>
    <div class="mensajes">
      <ul>
        <li> Camilo, Bogota 2023, me siento muy feliz siendo su cliente
        </li>
        <li> Alejandro, Lima 2023, la uso practicamente para todo
        </li>
        <li>Daniela, medellin 2023, a mi me la dieron de una
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div id="texto5">
      <h1 id="porque">
        No mas!, liberate de la complejidad financiera y burocratica con Bosh.
      </h1>
    </div>
</div>
<app-footer></app-footer>



