
    <div class="contenedor">
      
        <section>

                <div class=" d-flex flex-column align-items-end">
                    <div class=" col-lg-5 px-lg-5 pt-lg-1 pb-lg-1 p-3 w-100 mt-4">
                        <img src="assets/imagenes/logo.png" class="img-fluid">
                    </div>
                    <div class=" px-lg-5 py-lg-4  w-100">
                        <h1 class="font-weight-bold mb-2">Bienvenido</h1>
                        <div class="row g-3 mb-2">
                            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
                              <label for="formGroupExampleInput" class="form-label">Nombres</label>
                              <input [(ngModel)]="nombres" type="text"  class="form-control font-weight-bold bg-dark-x border-0" placeholder="Ingresa tus nombres" aria-label="First name">
                            </div>
                            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
                              <label for="formGroupExampleInput" class="form-label">Apellidos</label>
                              <input [(ngModel)]="apellidos" type="text" id="apellidos" class="form-control font-weight-bold bg-dark-x border-0" placeholder="Ingresa tus apellidos" aria-label="Last name">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="formGroupExampleInput" class="form-label">Identificacion</label>
                            <input [(ngModel)]="identificacion" type="text"  class="form-control font-weight-bold bg-dark-x border-0" id="formGroupExampleInput" placeholder="Ingresa tu Identificacion">
                          </div>
                          <div class="mb-2">
                            <label for="formGroupExampleInput" class="form-label">Correo electronico</label>
                            <input [(ngModel)]="correo" type="text"  class="form-control font-weight-bold bg-dark-x border-0" id="formGroupExampleInput" placeholder="Ingresa tu Correo electronico">
                          </div>
                          <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
                            <input [(ngModel)]="password" type="password" id="password" class="form-control font-weight-bold bg-dark-x border-0" id="formGroupExampleInput2" placeholder="Ingresa tu contraseña">
                          </div>
                          <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Confirma tu contraseña</label>
                            <input [(ngModel)]="password2" type="password" id="password" class="form-control font-weight-bold bg-dark-x border-0" id="formGroupExampleInput2" placeholder="Confirma tu contraseña">
                        </div>
                        <button  id="btn" (click)="guardar()" type="button" class="btn btn-primary w-100" routerLink="/login">
                          Registrarse
                        </button>
                    
    
                    </div>
    
                </div>
        </section>
    
      <div class="burbujas">
        <span style="--i:55;"></span>
        <span style="--i:15;"></span>
        <span style="--i:44;"></span>
        <span style="--i:28;"></span>
        <span style="--i:31;"></span>
        <span style="--i:77;"></span>
        <span style="--i:17;"></span>
        <span style="--i:35;"></span>
        <span style="--i:21;"></span>
        <span style="--i:14;"></span>
        <span style="--i:21;"></span>
        <span style="--i:26;"></span>
        <span style="--i:18;"></span>
        <span style="--i:12;"></span>
        <span style="--i:14;"></span>
        <span style="--i:25;"></span>
        <span style="--i:20;"></span>
        <span style="--i:16;"></span>
        <span style="--i:12;"></span>
        <span style="--i:27;"></span>
        <span style="--i:32;"></span>
        <span style="--i:16;"></span>
        <span style="--i:48;"></span>
        <span style="--i:66;"></span>
        <span style="--i:87;"></span>
        <span style="--i:29;"></span>
        <span style="--i:89;"></span>
        <span style="--i:77;"></span>
        <span style="--i:65;"></span>
        <span style="--i:52;"></span>
        <span style="--i:63;"></span>
        <span style="--i:97;"></span>
        <span style="--i:72;"></span>
        <span style="--i:32;"></span>
        <span style="--i:24;"></span>
        <span style="--i:33;"></span>
        <span style="--i:87;"></span>
        <span style="--i:12;"></span>
        <span style="--i:19;"></span>
      </div>
    </div>
  